.center {
    text-align: center;
}

.header {
    background-image: linear-gradient(to right, blue, navy);
    color: white;
    padding: .75rem 0;
    margin-bottom: .5rem;
}

.full-size {
    width: 100%;
}

#search-city-btn{
    background-color: blue;
    color: white;
}

#created-cities-container button {
    background-color: gray;
    color: black;
    /* display: none; */
}