.center {
    text-align: center;
}

.header {
    background-image: linear-gradient(to right, blue, navy);
    color: white;
    padding: .75rem 0;
    margin-bottom: .5rem;
}

.full-size {
    width: 100%;
}

#search-city-btn{
    margin-top: 15px;
    background-color: blue;
    color: white;
}

#created-cities-container button {
    background-color: gray;
    color: black;
    /* display: none; */
}

#test {
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.current-weather-container {
    display: none;
}

#search-bar {
    padding-top: 40px;
    padding-bottom: 20px;
}